/*Bouton du menu ouvert-fermé*/
#check {
  display: none;
}
.buttonMenu {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: linear-gradient(to top right, #e61652, 80%, #e6dbc6);
  padding: 12px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-in;
  padding-top: 8px;
  line-height: 8px;
  z-index: 201;
  border: 1px solid #e6dbc6;
  border-radius: 20px;
  box-shadow: -1px 3px 5px #818181;
}
.buttonMenu span {
  height: 3px;
  width: 100%;
  background: white;
  display: inline-block;
  transition: all 0.5s cubic-bezier(0.62, 0.43, 0.35, 1.47);
}
#check:checked ~ .buttonMenu span:nth-child(1) {
  width: 100%;
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
#check:checked ~ .buttonMenu span:nth-child(2) {
  width: 0;
}
#check:checked ~ .buttonMenu span:nth-child(3) {
  width: 100%;
  transform: rotate(-45deg) translateY(-7px) translateX(7px);
}
nav {
  transition: all 0.4s ease;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 0;
  padding: 0 5px;
  border-radius: 0 0 20px 20px;
}
#check:checked ~ nav {
  background-color: #030303;
  height: 386px;
}
nav a {
  text-decoration: none;
  font-size: 22px;
  transition: all 0.4s cubic-bezier(0.22, 0.43, 0.35, 1.5);
  opacity: 0;
  transform: scale(0);
  transform-origin: top;
  width: 100%;
  text-align: center;
  display: block;
}
#check:checked ~ nav a {
  border-radius: 20px;
  background-color: #e61652;
  color: white;
  font-weight: 600;
  padding: 8px;
  opacity: 1;
  transform: scale(1);
  border: 1px solid #e6dbc6;
  margin: 5px 0px;
  
}
#check:checked ~ nav a:hover {
  background-color: #e6dbc6;
  color: black;
  border: 1px solid #030303;
}

iframe {
  width:100%;
  height: 220px;
  border-radius: 25px;
  border: 3px solid #e6dbc6;
  padding: 5px;
  margin: 5px 0;
}


/*Mobile style*/

/*Reset et bases*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-family: Arial Rounded MT Bold;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  background-color: #030303;
  color: #fff;
}
h1 {
  font-size: 28px;
  color: #e61652;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #e6dbc6;
}
h2 {
  font-size: 26px;
  color: #e6dbc6;
}
h3 {
  font-size: 22px;
}
p {
  font-size: 18px;
}
section{
  padding: 0px 5px;
}

article {
  margin: 30px 0;
}
article img {
  width:100%;
  border-radius: 25px;
  border: 3px solid #e6dbc6;
  padding: 5px;
}

article p{
  margin: 5px 0;
}

/* Header mobile */
header {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #030303;
  border-bottom: 3px solid #e6dbc6;
  padding: 10px;
  width: 100%;
  height: 75px;
  z-index: 1;
}
.logo {
  width: 50px;
}
header a {
  display: flex;
  align-items: center;
  justify-content: center;
}
header a p {
  margin-left: 10px;
  color: #fff;
}

/* Section 1 ACCUEIL mobile*/
#section1 {
  height: 100vh;
}
.logoAccueil {
  width: 100%;
  margin-top: 130px;
  padding: 0 10px;
}
.baton {
  animation: rotate 900ms linear infinite;
  width: 30%;
  position: absolute;
  top: 120px;
  left: 30px;
}
@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}
#section1 h1 {
  margin: 30px 0 60px 0;
  color: #fff;
  -webkit-text-stroke: 0px;  
}
.buttonDecouverte {
  background: linear-gradient(to top right, #e61652, 80%, #e6dbc6);
  color: inherit;
  border: 2px solid #e6dbc6;
  box-shadow: -1px 3px 5px #818181;
  padding: 15px 20px;
  border-radius: 30px;
}
.buttonDecouverte:hover {
  background: linear-gradient(to top right, #e61652, 20%, #e6dbc6);
  color: #030303;
  box-shadow: none;
  border: 2px solid #030303;
  transition: 400ms ease-out;
}


/* Section 2 LE CLUB mobile */
#section2 h1 {
  padding: 100px 0 0 0;
}
#section2 p {
  margin: 10px 0;
}


/* Section 3 A LA UNE mobile */
#section3{
  margin: 90px 0 0px 0;
}


/* Section 4 LA BOUTIQUE mobile*/
#section4 {
  margin: 90px 0 0 0;
}


/* Section 5 LES ENTRAINEMENTS mobile*/
#section5 h1 {
  margin: 90px 0 0px 0;
}


/* Section 6 CONTACT mobile*/
#section6 h1{
    margin: 90px 0 30px 0;
  }
.fa-phone, .fa-location-dot, .fa-envelope{
    color: #e61652;
    margin: 30px 0px 10px 0;
    font-size: 22px;
  }
#section6 a{
color: #fff;
}
.img-twirleuse {
  width: 50%;
  margin: 40px 0 20px 0;
  animation: incline 3000ms linear infinite;
}
@keyframes incline {
  to {
    transform: rotate(0deg);
  }
    25%{
    }
    from {
      transform: rotate(10deg);
    }
  }
  .baton-twirleuse {
    animation: rotation 400ms linear infinite;
  width: 16%;
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
.elevation-baton {
  position: absolute;
  margin:25px 0px 0px -190px;
  animation: elevation 1500ms alternate infinite;
}
@keyframes elevation {
  to {
    margin-top: -450px;
  }
}

/* Footer mobile*/
footer {
  background-color: #e6dbc6;
  border-top: 3px solid #e61652;
  color: #030303;
}
footer a {
  color: #030303;
}
footer a:hover {
  color: #e61652;
  transition: all 400ms ease-out;
  transform: scale(1.1);
}
.fa-facebook{
  margin: 10px 0px 10px 10px;
  font-size: 32px;
}
.fa-instagram {
  margin: 10px 0 10px 12px;
  font-size: 36px;
}
.fa-discord {
  margin: 10px 0 10px 12px;
  font-size: 32px;
}
.pictoAlig{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer li a {
  margin: 0 8px;
  font-size: 14px;
}
.copyrigth {
  font-size: 10px;
  padding: 10px 0;
}


/*Button All*/
.buttonPlus {
  display: inline-block;
  background-color: #e61652;
  color: #e6dbc6;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: -1px 3px 5px #818181;
}
.buttonPlus:hover {
  animation: bounce 500ms;
  background-color: #bf0b40;
  box-shadow: none;
}
@keyframes bounce {
  0% {
    transform: scale(1);
    
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}





/*Contact*/
#contact h1 {
    padding: 100px 0 0 0;  
}
#contact .fa-phone, .fa-location-dot, .fa-envelope{
  font-size: 28px;
}
#contact .fa-facebook{
  margin: 20px 0 5px 0;
  color: #e61652;
}
#contact .fa-instagram {
  margin: 20px 0 5px 0;
  color: #e61652;
}
#contact .fa-discord {
  margin: 20px 0 5px 0;
  color: #e61652;
}
#contact a {
  color:white;
}
#contact a:hover {
  transition: all 400ms ease-out;
  color: #e6dbc6;
}
#contact .elevation-baton {
  position: absolute;
  margin:5px 0px 0px -190px;
  animation: elevation-contact 1500ms alternate infinite;
}
@keyframes elevation-contact {
  to {
    margin-top: -340px;
  }
}

/*Entrainements*/
#entrainements h1 {
  padding: 100px 0 0 0;  
}
#entrainements a {
  color:white;
}
#entrainements a:hover {
  transition: all 400ms ease-out;
  color: #e6dbc6;
}
#entrainements h3 {
  margin:10px 0 0 0;
}
#entrainements p {
  margin: 10px 0;
}
#entrainements img {
  margin: 5px 0;
}


/*À la une*/
#a-la-une h1 {
  padding: 100px 0 0 0;  
}

/*Boutique*/
#boutique h1 {
  padding: 100px 0 0 0;  
}

/*Degrés*/
#degres h1 {
  padding: 100px 0 0 0;  
}
#degres h2 {
  margin: 0 0 10px 0;  
}
#degres p {
  margin: 30px 0 0 0;  
}
#degres img{
  box-shadow: -1px 3px 5px #818181;
  border-radius: 100%;
}
#degres img:hover {
  transform: rotate(360deg);
  transition: all 1200ms cubic-bezier(0.22, 0.43, 0.35, 1.5);
  box-shadow: none;
  border: 1px solid #e61652;
  padding: 10px;
  background-color:#e61652;
}

/*Degrés détaillé*/
#degres-details h1 {
  padding: 100px 0 10px 0;  
}
#degres-details h2 {
  color: #030303;
  padding: 5px;
}
#degres-details h2:hover {
  color: #e6dbc6;
}

#degres-details article {
  border: 1px solid #e6dbc6;
  background-color: #e6dbc6;
  border-radius: 20px;
  box-shadow: -1px 3px 5px #818181;
  margin: 20px 0;
}
#degres-details article:hover {
  background-color: #030303;
  transition: all 600ms cubic-bezier(0.62, 0.43, 0.35, 1.47);
  border: 1px solid #e6dbc6;
  box-shadow: none;
}
#degres-details .buttonPlus{
  margin:30px 0;
}

/*Degrés détaillé série*/
#degres-details-serie h1 {
  padding: 100px 0 0 0;  
}
#degres-details-serie .buttonPlus{
  margin:0 0 30px 0;
}
#degres-details-serie .descriptifs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -25px 0 30px 0;
}

#degres-details-serie div{
  width: 30%;
  margin: 5px;
}
#degres-details-serie div img{
  border: 1px solid #e6dbc6;
  padding: 0;
  border-radius: 20px;
}
#degres-details-serie .descriptifs div p{
  font-size: 12px;
}


/*Infos pratiques*/
#infos h1 {
  padding: 100px 0 0 0;  
}



/*Club*/
#club h1 {
  padding: 100px 0 0 0;  
}
/*Club carousel*/
.carousel-item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 450px;
  flex: 1 0 250px;
  margin: 20px 0 20px 15px;
  scroll-snap-align: start;
}
.carousel-items {
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
}
.carousel img {
  width:100%
}
.fa-reply{
  color: #000;
  font-size: 30px;
  margin: 0px 0px 0 180px;
}
/*flip card + polaroid*/
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 320px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front img {
  width: 100%;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front {
  background: #fff;
  color: #000;
  padding: 10px;
  box-shadow: -1px 3px 5px #818181;
}
.flip-card-back {
  background-color: #fff;
  color: #000;
  transform: rotateY(180deg);
  padding: 10px;
  box-shadow: -1px 3px 5px #818181;
}
/*Club inclinaison polaroid*/
.pol1{
  transform: rotate(-3deg);
}
.pol2{
  transform: rotate(4deg);
}
.pol3{
  transform: rotate(-6deg);
}
.pol4{
  transform: rotate(5deg);
}
.pol5{
  transform: rotate(6deg);
}
.pol6{
  transform: rotate(-4deg);
}

.fa-circle-plus{
  margin-left: 210px;
  font-size: 20px;
  opacity: 0.5;
}


/*A la une*/
#a-la-une img{
  border: none;
  border-radius: 20px;
padding: 10px;
margin: 0px;
z-index: 1;
}

#a-la-une a{
  color: #fff;
  transform: scale(1);
}

.card {
  margin: 20px 10px;
  padding: 0 0 10px 0;
  border-radius:20px;
  border: 1px solid #fff;
}

.card:hover{
  transition: all 400ms ease-out;
  transform: scale(1.05);
  opacity: 0.8;
}

.card h3{
  margin: 10px 0 0 0;
}

.button-article {
  position: relative;
  background-color: #e61652;
  border: 1px solid #fff;
  border-radius: 10px 0 10px 0;
  width: 45%;
  padding: 10px 0;
  margin: -56px 0 0px 159px;
}